.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #525252;
  text-align: center;
}

.heading {
  margin: 0;
}

a {
  text-decoration: none;
  color: #cb3837;
}
